{% extends 'base_adm.html' %}
{% load static %}
{% block head_extra %}
<title>{{ title }}</title>
{% endblock %}
{% block body %}
<div class="text-center mt-4">
    {% for message in messages %}
    <p class="font-bold text-green-600 bg-green-100 inline-block px-4 py-2 rounded">
        {{ message }}
    </p>
    {% endfor %}
</div>
<div class="container-abas mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-5">
    <div class="painel-aba ativo" id="ultimas-noticias">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Últimas Notícias do Autor {{ user.username }}</h2>
        <div class="grid-noticias">
            {% if noticias %}
            {% for noticia_item in noticias %}
            <article class="card-noticia">
                <div class="card-imagem">
                    {% if noticia_item.imagem_url %}
                    <img src="{{ noticia_item.imagem_url.url }}" alt="{{ noticia_item.titulo|truncatechars:50 }}">
                    {% else %}
                    <img src="{% static 'noticia/images/placeholder.png' %}" alt="Imagem não disponível">
                    {# Ou use: <img src="https://via.placeholder.com/300x180.png?text=Sem+Imagem"
                        alt="Imagem não disponível"> #}
                    {% endif %}
                </div>
                <div class="card-conteudo">
                    {% if noticia_item.categoria %}
                    <span class="categoria {{ noticia_item.categoria.nome|slugify }}">{{ noticia_item.categoria.nome }}</span>
                    {% else %}
                    <span class="categoria geral">Geral</span>
                    {% endif %}

                    <h3>{{ noticia_item.titulo }}</h3>

                    {% if noticia_item.subtitulo %}
                    <p class="resumo">{{ noticia_item.subtitulo|truncatewords:15 }}</p>
                    {% endif %}

                    <div class="card-expandir">
                        <p class="conteudo-completo">
                            {{ noticia_item.conteudo|linebreaksbr|truncatewords_html:30 }}
                        </p>
                        <button class="btn-leia-mais">Leia mais</button>
                        <a href="{% url 'noticia_delete' noticia_item.id %}" class="btn btn-danger">Apagar</a>
                        <a href="{% url 'noticia_editar' noticia_item.pk %}" class="btn bg-green-600">Editar</a>
                    </div>

                    <div class="card-rodape">
                        <span class="data-publicacao">{{ noticia_item.data_publicacao|date:"d/m/Y H:i" }}</span>
                        {% if noticia_item.local %}
                        <span class="tempo-leitura"><i class="fa-solid fa-map-marker-alt mr-1"></i>{{ noticia_item.local  }}</span>
                        <span class="autor"><i class="fa-solid fa-user-pen mr-1"></i>{{ noticia_item.autor }}</span>
                        {% endif %}

                    </div>
                </div>

            </article>
            {% endfor %}
            <div class="pagination">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="px-2 py-1 bg-blue-600 text-white rounded hover:bg-blue-700 transition">Anterior</a>
                {% endif %}

                <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="px-2 py-1 bg-blue-600 text-white rounded hover:bg-blue-700 transition">Próxima</a>
                {% endif %}
            </div>
            {% else %}
            <div class="col-span-full text-center py-10">
                <p class="text-xl text-gray-600">Nenhuma notícia encontrada no momento.</p>
                {% if user.is_authenticated and perms.core.add_noticia %}
                <p class="mt-4">
                    <a href="{% url 'noticia_form' %}" class="text-blue-600 hover:text-blue-800 font-semibold">
                        Adicione uma Nova Notícia
                    </a>
                </p>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}