{% load 'static' %}
<!-- Links de navegação dentro do site e barra de pesquisa -->
    <nav class="main-menu">
        <div class="barra-navegacao">
            <a href="#"><i class="fa-solid fa-house"></i> Home</a>
            <a href="#"><i class="fa-solid fa-landmark"></i> Política</a>
            <a href="#"><i class="fa-solid fa-chart-line"></i> Economia</a>
            <a href="#"><i class="fa-solid fa-futbol"></i> Esportes</a>
            <a href="#"><i class="fa-solid fa-microchip"></i> Tecnologia</a>
        </div>
        <div class="barra-pesquisa">
            <input type="text" placeholder="Pesquisar notícias">
            <button><i class="fa-solid fa-search"></i></button>
        </div>
    </nav>