{% load static %}


<header class="site-header">
    <div class="logo-container">
        <i class="fa-solid fa-newspaper"></i>
        <h1>Portal Brasil</h1>
    </div>

    <div class="user-actions">
        {% if user.is_authenticated %}
        <span>Bem-vindo, {{ user.first_name|default:user.username }}!</span>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-logout">Sair</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}" class="btn-login">Entrar</a>
        {% endif %}
    </div>

</header>
<nav class="main-menu">
    <div class="barra-navegacao">
        <a href="{% url 'home_adm' %}"><i class="fa-solid fa-house"></i> Inicio</a>
        <a href="{% url 'noticia_form' %}"><i class="fas fa-plus-circle mr-1"></i> Adicionar Notícia</a>
    </div>
    <div class="barra-pesquisa">
        <input type="text" placeholder="Pesquisar notícias">
        <button><i class="fa-solid fa-search"></i></button>
    </div>
</nav>