{% extends "base.html" %}
{% load static %}

{% block body %}
<div>
    <div class="row justify-content-center">
        <div class="">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0"><i class="bi bi-box-seam"></i> Cadastro de Categoria</h3>
                </div>
                <div class="card-body">
                    <form id="productForm" method="POST">
                        <div class="mb-3">
                            <label for="productName" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="categoryName" required>
                        </div>
                        <div class="mb-3">
                            <label for="productName" class="form-label">Contato</label>
                            <input type="text" class="form-control" id="categoryName" required>
                        </div>
                        <div class="mb-3">
                            <label for="productName" class="form-label">Localização</label>
                            <input type="text" class="form-control" id="categoryName" required>
                        </div>
                        <div class="mb-3">
                            <label for="productName" class="form-label">Tipo</label>
                            <input type="text" class="form-control" id="categoryName" required>
                        </div>
                    </form>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-secondary me-md-2" onclick="resetForm()">
                            <i class="bi bi-x-circle"></i> Limpar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-save"></i> Salvar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mt-4">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0"><i class="bi bi-list-ul"></i> Lista de Fornecedores</h3>
        </div>
        <div class="card-body">
            <div class="list-group" id="existingCategoriesList">
                {% if categorias %}
                {% for categoria in categorias %}
                <div class="list-group-item d-flex justify-content-between align-items-center mb-1">
                    <span>{{ categoria.name }}</span>
                    <div>
                        <a href="{% url 'category_edit' category.pk %}" class="btn btn-warning btn-sm me-2">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <form action="{% url 'category_delete' category.pk %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Tem certeza que deseja excluir esta categoria?');">
                                <i class="bi bi-trash"></i> Excluir
                            </button>
                        </form>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="text-muted text-center" id="noCategoriesMessage">Nenhuma Fornecedor cadastrado ainda.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}